@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Yellowtail&family=Raleway:wght@300;700&display=swap');
:root {
    --primary-color:#232327;
    --secondary-color: #e6c2bf;
    --border-color: rgb(255, 255, 255);
    --logo-color: #93385fff;
    --nav-color: #4f3466ff;
    --accent-color: #9f6b99ff;
    --caption-color: #301728ff;
  }
/* Page Sections */
html, body {
    height: 100%;
  }
  * {
    margin: 0;
    padding: 0;
  }
  /* Nav Bar */
  .nav-bar {
    display: flex;
    height: 10%;
    justify-content: space-between;
  }
  .nav-left-block, .nav-right-block {
    display: flex;
    width: 42%;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo-font{
    font-family: 'Yellowtail', cursive;
    font-weight: 700;
    color: var(--logo-color);
    letter-spacing: .1em;
    font-size: 1.5em;
  }
  .nav-caption{
    font-family: 'Raleway', sans-serif;
    color: var(--nav-color);
    letter-spacing: .2em;
    font-size: 1.1em;
  }
  .logo {
    display: flex;
    width: 17%;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }
  .logo-img {
    display: inline;
    height: 80px;
  }
  /* Main Container
  .main-container {
    display: flex;
    height: 10%;
    justify-content: space-between;
  } */
  /* Elements */
  
  a, a:visited {
    text-decoration: none;
  }
  .categories {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col:hover {
    transform: translateY(-5px);
}

.col img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 100px;
    color: gray;
}

.title:hover {
    color: pink;
}

Elements

#topdiv1, #topdiv0{
	margin-left: 20%;
	margin-right: 30%;
	margin-top: 5%;
	background-color: pink;
}

#topdiv4, #topdiv5, #topdiv6{
	margin-top: 5%;
	padding-bottom: 20px;
}

#index0, #index1{
	padding-top: 30px;
}

#topdiv2, #topdiv5{
	background-color: #eac6c6;
}

#topdiv2, #topdiv3{
	margin-top: 2%;
	margin-left: 10%;
	display: none;
}

.needspace{
	flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
} 

.card-img-top {
    width: 100%;
}

.nav-caption {
    text-align: center;
    margin: 80 auto 100px;
    position: left;
    line-height: 40px;
}