/*            Fonts                */
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Yellowtail&display=swap');
/*          Variables              */
:root {
  --primary-color:#232327;
  --secondary-color: #e6c2bf;
}
/*         Navigation Bar         */
.nav-bar {
  height: 80px;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1700px 212px;
}
.font-logo {
  margin: 10px 30px 0 800px;
  font-family: 'Yellowtail', cursive;
  font-size: 3em;
  font-weight: bold;
  color: var(--secondary-color);
}
.nav-icon {
  margin: 7px 0 0 100px;
}

/*         Main Body         */
body {
  padding: 0;
  margin: 0;
}
.main-container {
  width: 1912px;
  height: 840px;
  overflow: hidden;
  background-image: url("assets/display.jpg");
  background-size: 1912px 1200px;
  background-position: 0 -160px; 
}
.main-column {
  width: 600px;
  height: 650px;
  margin: 85px 0 75px 730px;
  text-align: center
}
.main-column h1 {
  color: var(--secondary-color);
  padding: 100px;
  font-family: 'Days One', sans-serif;
  font-size: 3em;
}
.footer {
  margin: 0;
  background-color: var(--primary-color);
  height: 30px;
  width: 100%; 
}
