/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Yellowtail&family=Raleway:wght@300;700&display=swap');
:root {
    --primary-color:#232327;
    --secondary-color: #e6c2bf;
    --border-color: rgb(255, 255, 255);
    --logo-color: #93385fff;
    --nav-color: #4f3466ff;
    --accent-color: #9f6b99ff;
    --caption-color: #301728ff;
  }
  
/* Page Sections */

/* Main Container */
.main-container {
    display: block;
    background-color:green;
    height: 80px;
}
p {
    font-size: 50px;
}
/* Elements */

a, a:visited {
  text-decoration: none;
}

