{% extends "nav-bar.html" %}
{% block css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/browsing.css') }}">
{% endblock css %}
{% block body %}
        <div class = "container" id = "topdiv6">
            <div class = "grid">
                <div class = "categories">
                    <h2 class = "title">Featured Partners</h2>
                    <div class = "row">
                        {% for companion in companions.find() %}
                        <div class = "col">
                            <div class="card needspace" style="width: 18rem;">
                                <img src= {{companion.pic}} class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Companion Name: {{companion.name}}</h5>
                                    <p class="card-text">Age: {{companion.age}}</p>
                                    <p class="card-text">Height: {{companion.height}} cm</p>
                                    <p class="card-text">Type: {{companion.type}}</p>
                                    <p class="card-text">Animal: {{companion.animal}}</p>
                                    <p class="card-text">Gender: {{companion.gender}}</p>
                                    <p class = "card-text">Description: {{companion.description}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        
            </div>
        </div>
{% endblock body %}
    