{% extends 'layout.html' %}

{% block title %}
    Browsing page
{% endblock %}

{% block body %}
    <div class = "container" id = "topdiv6">
        <nav class="nav-bar">
            <container class="nav-left-block">
                <h2>
                    <a class="nav-caption" href="/about-us-page">contact</a>
                </h2>
                <h2>
                    <a class="nav-caption" href="/match-test">find your match</a>
                </h2>
            </container>
            
            <container class="logo">
                <h1>
                    <a href="/"><span class="logo-font" >Rent-A-Date</span></a>
                </h1>
                <img class="logo-img" src="{{ url_for('static', filename='/assets/logo5.png')}}">
            </container>

            <container class="nav-right-block">
                <h2>
                    <a class="nav-caption" href="/browsing-page">browse</a>
                </h2>
                <h2>
                    {% if new_user %}
                        <a class="nav-caption" href="/signup">sign up</a>
                    {% else %}
                        <a class="nav-caption" href="/account">account</a>
                    {% endif %}
                </h2>
            </container>
        </nav>
        {% if rows %}
				<div class="row" id="index0">
					{% for row in rows %}
						<div class="card needspace" style="width: 18rem;">
							<img src="{{ url_for('static_dir', path = 'assets/'+row.filename) }}" class="card-img-top" alt="...">
							<div class="card-body">
			    				<h5 class="card-title">{{row.name}}</h5>
			    				<p class="card-text">{{row.category}}</p>
			  				</div>
			  				<ul class="list-group list-group-flush">
			  					<li class="list-group-item">{{row.description}}</li>
			    				<li class="list-group-item">{{row.comments}}</li>
			  				</ul>
						</div>
					{% endfor %}
				</div>
		{% endif %}
    </div>
{% endblock %}
