{% extends "nav-bar.html" %}
{% block css %}
<link href="{{ url_for('static', filename='css/match-test.css')}}" rel='stylesheet' type='text/css'">
{% endblock css %}
{% block body %}

<container class="main-body">
    <container id="main-container">
        <container class="test-box">
            <form method="POST" action="/match-test">
                <h1>Find your perfect date!</h1>
                <label>preferred age</label>
                <container class="dropdown">
                    <p>min</p>
                <select id="many_opt" name="min_age">
                    {% for n in range(18, 81) %}
                    <option value="{{ n }}">{{ n }}</option>
                    {% endfor %}
                </select>
                </container>
                <container class ="dropdown">
                    <p>max</p>
                    <select id="many_opt" name="max_age">
                        {% for n in range(18, 81) %}
                        <option value="{{ n }}">{{ n }}</option>
                        {% endfor %}
                    </select>
                </container>
                <label>preferred height</label>
               <container class="dropdown">
                <p>min</p>
                <select id="many_opt" name="min_height">
                    {% for n in range(100, 271) %}
                    <option value="{{ n }}">{{ n }} cm</option>
                    {% endfor %}
                </select>
               </container>
               <container class="dropdown">
                <p>max</p>
                <select id="many_opt" name="max_height">
                    {% for n in range(100, 271) %}
                    <option value="{{ n }}">{{ n }} cm</option>
                    {% endfor %}
                </select>
               </container> 
                <label>preferred personality</label>
                <select name="personality">
                    <option value="introverted">introverted</option>
                    <option value="extroverted">extroverted</option>
                </select>
                <label>you are more of a</label>
                <select name="pet">
                    <option value="cat">cat person</option>
                    <option value="dog">dog person</option>
                </select>
                <label>you are looking for a</label>
                <select name="sex">
                    <option value="male">man</option>
                    <option value="female">woman</option>
                </select>
                <input type="submit" id="button" value="Find your match!" />
            </form> 
        </container> 
    </container>
</container>
{% endblock body %}