<!DOCTYPE html>

<html>
    <head>
        <title>Apply to become a companion!</title>
    </head>
    <body>
        <h1>Apply to become a companion!</h1>
        <form method="post" action="/new-companion">
            <label for="name">Enter Name:</label>
            <input type="text" name="name" value="">

            <label for="age">Enter age:</label>
            <input type="number" name="age" value="">

            <label for="height">Enter height in cm:</label>
            <input type="number" name="height" value="">

            <label for="type">Enter personality-type(introvert or extrovert):</label>
            <input type="text" name="type" value="">

            <label for="animal">Enter animal preference(cat or dog):</label>
            <input type="text" name="animal" value="">

            <label for="gender">Enter gender(male or female):</label>
            <input type="text" name="gender" value="">

            <label for="pic">Enter a picture:</label>
            <input type="text" name="pic" value="">

            <input type="submit" value="Submit">
        </form>
        <p><a href="/">Cancel</a></p>
        {% if session %}
          <p>Logged in as {{ session['username'] }}</p>
        {% endif %}

    </body>
</html>