{% extends "nav-bar.html" %}
{% block css %}
<link href="{{ url_for('static', filename='css/match-test.css')}}" rel='stylesheet' type='text/css'">
{% endblock css %}
{% block body %}

<container class="main-body">
    <container id="main-container2">
        <container class="test-box">
            <p id="result-title">Become a companion!</p>
        <form method="post" action="/new-companion">
            <label class='new_comp' for="name">Enter Name:</label>
            <input type="text" name="name" value="">

            <label class='new_comp'  for="age">Enter age:</label>
            <input type="number" name="age" value="">

            <label class='new_comp'  for="height">Enter height in cm:</label>
            <input type="number" name="height" value="">

            <label class='new_comp'  for="type">Enter personality-type(introvert or extrovert):</label>
            <input type="text" name="type" value="">

            <label class='new_comp'  for="animal">Enter animal preference(cat or dog):</label>
            <input type="text" name="animal" value="">

            <label class='new_comp'  for="gender">Enter gender(male or female):</label>
            <input type="text" name="gender" value="">

            <label class='new_comp'  for="pic">Enter a picture:</label>
            <input type="text" name="pic" value="">

            <label class='new_comp'  for="description">Describe yourself:</label>
            <input type="text" name="description" value="">

            <input class="button2" type="submit" value="Submit">
        </form>
        <p><a href="/">Cancel</a></p>
        {% if session %}
          <p>Logged in as {{ session['username'] }}</p>
        {% endif %}
        </container> 
    </container>
</container>
{% endblock body %}
